<body>
    <!-- <div class="limiter"> -->
        <div class="container-login100">
            <div class="wrap-login100">
                <form class="login100-form validate-form" #f="ngForm" (ngSubmit)="login(f)">
                    <span class="login100-form-title p-b-26">
                        Login
                    </span>
    
                    <mat-form-field color="accent" class="w-100">
                        <input [(ngModel)]="email" (input)="checkEmail()" name="email" matInput placeholder="Email" #emailInput="ngModel"
                            required autofocus>
                    </mat-form-field>
                    <div class="errEmail" *ngIf="errEmail && check">
                        <div *ngIf="this.email =='' "><span>Enter an email</span>
                        </div>
                        <div *ngIf="this.email !='' "><span>Enter a valid email</span>
                        </div>
                    </div>
                    <mat-form-field color="accent" class="w-100">
                        <input matInput [(ngModel)]="password" (input)="checkPass()" name="password" placeholder="Password"
                            [type]="hide ? 'password' : 'text'" autocomplete="off" required>
                        <mat-icon matSuffix (click)="hide = !hide" >{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                    </mat-form-field>
                    <div class="errEmail" *ngIf="errPass && checkPassword "><span>Enter a password</span></div>

                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <button class="login100-form-btn">
                                Login
                            </button>
                        </div>
                    </div>
                    <div class="p-t-5">
                        <a class="txt2" style="color: blue;" [routerLink]="['/auth/forgot-password']">
                            forgot password?
                        </a>
                    
                    </div>
    
                    <div class="text-center p-t-50">
                        <span class="txt1">
                            Don’t have an account?
                        </span>
    
                        <a class="txt2" [routerLink]="['/auth/register']">
                            Sign Up
                        </a>
                    </div>
                </form>
            </div>
        </div>
    <!-- </div> -->
    
    <div id="dropDownSelect1"></div>
</body>

