<div class="mobile-page">
  <div class="container-fluid">
    <mat-card class="p-3 pb-5 pt-3 mt-4">

      <div class="table-responsive pt-2 pb-4 mb-3 example-container mat-elevation-z8 container-fluid">
        <table mat-table [dataSource]="dataSource" class="mat-elevation">
          <ng-container matColumnDef="Nama">
            <th mat-header-cell *matHeaderCellDef class="font-16"> Nama </th>
            <td mat-cell *matCellDef="let data" class="pr-3"> {{data.name}} </td>
          </ng-container>

          <ng-container matColumnDef="Email">
            <th mat-header-cell *matHeaderCellDef class="font-16"> Email </th>
            <td mat-cell *matCellDef="let data" class="pr-3"> {{data.email}} </td>
          </ng-container>

          <ng-container matColumnDef="Jumlah">
            <th mat-header-cell *matHeaderCellDef class="font-16"> Jumlah </th>
            <td mat-cell *matCellDef="let data" class="pr-3"> {{data.count}}</td>
          </ng-container>

          <ng-container matColumnDef="Action">
            <th mat-header-cell *matHeaderCellDef class="font-16"> Action</th>
            <td mat-cell *matCellDef="let data" class="pr-3">
              <a [routerLink]="[ '/vote/detail/', data._id ]">View</a>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator #paginator [length]="this.totData" [pageSize]="1" [pageSizeOptions]="[1,5, 10, 20]"
          [showFirstLastButtons]="true">
        </mat-paginator>

      </div>
    </mat-card>
  </div>
</div>
