<table style="width: 100%;">
    <tr>
      <td align="right">
        <mat-icon (click)="no()" svgIcon="icon-close"></mat-icon>
        <!-- <strong>Are u sure want vote this person?</strong> -->
        <!-- <p class="Font20Regular disable">If you vote this person,you can't vote another one</p> -->
      </td>
      
    </tr>
    <tr>
        <td align="left">
          <h3>Are u sure want vote this person?</h3>
        </td>
    </tr>
    <tr>
        <td>
            <span class="Font20Regular disable">If you vote this person,you can't vote another one</span>
        </td>
    </tr>
    </table>
    <table style="width: 100%;">
    <tr>
      <td width="50%" align="right"><button mat-stroked-button mat-dialog-close class="btn-block-md cancel" style="margin-top:10px;" (click)="yes()" *ngIf="!this.disabled">Yes</button>&nbsp;</td>
      <td width="50%" align="right"><button mat-stroked-button mat-dialog-close class="btn-block-md cancel" style="margin-top:10px;" *ngIf="this.disabled" disabled>Yes</button>&nbsp;</td>
      <td width="50%" align="left">&nbsp;<button mat-flat-button mat-dialog-close class="btn-block-md edit" style="margin-top:10px;" (click)= "no()">No</button></td>
    </tr>
  </table>