.edit {
  background-color: #2492F4;
  font-size: 18px;
  color: white;
}

.cancel {
  font-size: 18px;
  color: #2492F4;
  border: 1px solid;
  border-color: #2492F4;
}

.btn-block-md {
  width: 205px;
  height: 51px;
  font-weight: bold
}

.center {
  text-align: center;
  color: #000000;
  line-height: 26px;
  padding-top: 30px;
  padding-bottom: 30px;
}

div {
  padding-left: 20px;
  padding-right: 20px;
}