<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="this.data.token">
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/home">Home</a>
    <a class="nav-item nav-link" routerLink="/vote">Vote</a>
    <a class="nav-item nav-link" style="cursor: pointer;" (click)="Logout()">Logout</a>
  </div>
</nav>

<!-- main app container -->
<div class="container">
  <router-outlet></router-outlet>
</div>