<body>
    <!-- <div class="limiter"> -->
    <div class="container-login100">
        <div class="wrap-login100">
            <form class="login100-form validate-form" #f="ngForm" (ngSubmit)="forgot(f)">
                <span class="login100-form-title p-b-26">
                    Masukan Emailmu!
                </span>

                <mat-form-field color="accent" class="w-100">
                    <input [(ngModel)]="email" (input)="checkEmail()" name="email" matInput placeholder="Email"
                        #emailInput="ngModel" required autofocus>
                </mat-form-field>
                <div class="errEmail" *ngIf="errEmail && check">
                    <div *ngIf="this.email =='' "><span>Enter an email</span>
                    </div>
                    <div *ngIf="this.email !='' "><span>Enter a valid email</span>
                    </div>
                </div>

                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button class="login100-form-btn">
                            Submit
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- </div> -->

    <div id="dropDownSelect1"></div>
</body>