<mat-card class="p-3 pb-5 pt-3 mt-4">
    <div  class="table-scroll table-scrollbar">
    <table class="table table-responsive-lg">
        <thead>
        <tr class="Font14Regular">
            <th align="center" style="font-weight: normal;text-align: center">#</th>
            <th align="center" style="font-weight: normal;text-align: center">Nama</th>
            <th align="center" style="font-weight: normal;text-align: center">Email</th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of dataDetail;let i= index">
                <td align="center">{{i+1}}</td>
                <td align="center">{{data['UserchoosingId']['name']}}</td>
                <td align="center">{{data['UserchoosingId']['email']}}</td>
            </tr>
        </tbody>
    </table>
    </div>
</mat-card>