.card-15 {
  border-radius: 15px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  padding-left: 35px;
  padding-right: 5px;
}

.icon-back {
  margin-left: -10px;
}

mat-card {
  height: 400px !important;

}

.icon-pencil {
  cursor: pointer;
  width: 12px;
  line-height: 1px;
  height: 12px;
}

.icon-plus {
  cursor: pointer;
  width: 14px;
  line-height: 1px;
  height: 14px;
}

.icon-arrow-down {
  cursor: pointer;
  width: 14px;
  height: 14px;
}

.btn-icon-back {
  margin-left: -37px;
  margin-bottom: 4px;
}

.tbl-title {
  width: 90%;
  margin-top: 114px;
  margin-right: auto;
  margin-left: auto;
}

.line-title {
  border: 0.5px solid #000000;
  width: 95%;
  margin-top: -6px
}

p {
  line-height: 22px;
  color: #000000;
}

.disable {
  color: rgba(0, 0, 0, 0.6);
}

.btn-print {
  background-color: #2492F4;
  font-size: 16px;
  color: #FFFFFF;
  border-radius: 5px;
  width: 100%;
  font-weight: bold;
}

.cancel {
  font-size: 18px;
  color: #2492F4;
  border: 1;
  border-color: #2492F4;
}

.menu-item {
  font-size: 13px;
  line-height: 1px;
  height: 31px;
}

.table-scrollbar {
  position: relative;
  height: 363px;
  overflow: auto;
}

.table-scrollbar-charge {
  position: relative;
  height: 340px;
  overflow: auto;
}

.table-scroll {
  display: block;
}

::-webkit-scrollbar {
  width: 8px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: rgba(196, 196, 196, 0.6);
}

::-webkit-scrollbar-thumb:hover {
  background: #5a6674;
}

  html {
    font-family: Lato;
  }

  h1 {
    font-size: 18pt;
  }

  p {
    font-size: 12pt;
  }
