.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

/* @import "//netdna.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"; */
